@model Erro
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Um erro ocorreu.</h1>

@if (Model.MostrarIdSolicitada)
{
    <p>
        <strong>ID solicitada:</strong> <code>@Model.IdSolicitada</code>
    </p>
}
