@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Um erro ocorreu.</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID solicitado:</strong> <code>@Model.RequestId</code>
    </p>
}
