<h2>Adicionar Novo Produto</h2>
<form method="post" action="/Produto/Create">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    
    <label for="marca">Marca:</label>
    <input type="marca" id="marca" name="marca" required>
    
    <label for="preco">Preço:</label>
    <input type="preco" id="preco" name="preco" required>

    <label for="validade">Validade:</label>
    <input type="validade" id="validade" name="validade">
    
    <button type="submit">Salvar</button>
</form>