@model GerenciamentoDeLojaMVC.Models.Produto

@{
    ViewData["Title"] = "Excluir Produto";
}

<h1>@ViewData["Title"]</h1>

<h3>Confirmação</h3>
<p>Tem certeza que deseja excluir este produto?</p>
<div>
    <form asp-action="ExcluirProduto" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Confirmar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Cancelar</a>
        </div>
    </form>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}